*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    font-family:"Lantinghei SC","Myriad Pro","Helvetica Neue", "Arial", sans-serif;
    height: auto;
}
.container{
    width: 960px;
    margin: 0 auto;
    height: 100%;
}
header{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    width: 100%;
    background-color: #1abc9c;
    height: 50px;
}
header nav{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
nav ul{
    height: 100%;
    overflow: hidden;

}
nav ul a{
    display: inline-block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-left:25px;
    width: 135px;
    vertical-align: middle;
}

nav ul a li{
    display: block;
    padding-top: 16px;
    height: 100%;
    list-style: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
}
nav ul a li:hover{
    background-color: #16a085;
}
#brand{
    background-color: #16a085;
    margin-left: 0;
}
#brand-text{
    padding-top: 8px;
    font-size: 29px;
    font-weight: 600;
    font-style: oblique;
}

.selected{
    background-color: #16a085;
}
#quote-box{
    width: 794px;
    background-color: #ecf0f1;
    font-size: 27px;
    text-align: center;
    font-weight: 500;
    padding: 70px 0;
    margin: 215px auto 120px auto;
}
#register-button{
    display: block;
    width: 794px;
    background-color: #2fb5c6;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 auto;
}
#footer-divider{
    margin-top: 0px;
    background-color: #1abc9c;
    height: 2px;
}
#footer-contact ul li{
    display: inline-block;

}
#footer-contact ul li a{
    text-decoration: none;
}
#footer-contact ul{
    text-align: center;
}
#footer-contact ul img{
    padding: 0 15px;
    margin-bottom: 10px;
}
#footer-text{
    margin: 0 190px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#footerwin{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-style: oblique;
    font-weight: 900;
    color: #16a085;
}
#footercn{
    font-family: "Lantinghei SC", "Microsoft JhengHei", "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", sans-serif;
    font-size: 15px;
    color: #16a085;
}
.star-video{
  max-width: 100%;
  height: auto;
}
.panel-overlay{
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.win-text{
  margin-top: 10%;
  margin-left:15%;
  color: #fff;
  font-size: 34px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.win-logo{
  text-align: center;
  color: #fff;
  font-size: 100%;
  font-size: 50vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  opacity: 0.1;
}
